[Unit]
Description=Raspberry Pi Internet Thing

[Service]
ExecStart=/usr/bin/python /home/pi/Closet_Inteligente/webapp/main.py

[Install]
WantedBy=multi-user.target